.header{
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    
}
.logo{
    align-items: center;
}
.logo > img{
    height: 100px;
    width: 100px;
}
.navbar > ul{
    display: flex;
    font-size: 24px;
    padding: 0px,10px;
    list-style-type: none;
}
.navbar >ul >li{
    padding: 10px;
    margin: 10px;
}
.search{
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 10px;
}
.res-card{
    margin: 10px;
    padding: 5px;
    height: 100%;
    width: 200px;
    background:#f0f0f0;
    border: 0.5px solid black;
    border-radius: 2%;

}
.res-card:hover{
    cursor: pointer;
    border: 0.5px solid black;
}
.res-logo{
    width: 200px;
    height: 150px;
    border-radius: 2%;
}
